<!DOCTYPE html>
       <html>
         <head>
           <title>Welcome to Acebook!</title>
           <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'
         </head>

         <style >
         body {
                  	background: linear-gradient(45deg, #49a09d, #5f2c82);
                      width: 50vw;
                      height: 50vh;
                      display: flex;
                  }

                  .custom-container {
                      width: 500px;
                  }

                  .request-container {
                     width: 800px;
                  }
         </style>

 <body>
         <div class="container custom-container">
             <div class="col">
               <h1 class="text-center">Welcome to acebook!</h1>
             </div>


<a href="/usersignup">New users click here</a>
<br>
<a href="/userlogin">Registered users click here</a>
 </body>