<!DOCTYPE html>
       <html>
         <head>
           <title>Acebook!</title>
           <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'
         </head>

         <style >
         body {
         	background: linear-gradient(45deg, #49a09d, #5f2c82);
             width: 50vw;
             height: 50vh;
             display: flex;

         }

         .custom-container {
             width: 500px;
         }

         .request-container {
            width: 800px;
         }
         </style>




         <body>
         <div class="container custom-container">
             <div class="col">
               <h1 class="text-center">Welcome to acebook!</h1>
             </div>

           <div>
               <form action="/posts/new" method ="POST">

                 <label> Title:</label>
                 <textarea rows="1" cols="70" type="text"  name="title" placeholder ="Title"></textarea><br>
                 <label>Content:</label>
                <textarea rows="7" cols="70" type="text" name="content" placeholder="Whats on your mind?"></textarea><br>
                <input type="submit" value="Post!">
               </form>
               </div>

           <div class="col">
                 <table class="table">

                   <thead class="thead-dark">
                     <tr>
                       <th scope="col">Title</th>
                       <th scope="col">Content</th>
                       <th scope="col">Posted on</th>
                       <th scope="col">Like this post!</th>
                   </tr>
                   </thead>

       <tbody>
           #foreach ( $t in $posts )
          <tr>
          <td> $t.title </td>
          <td> $t.content </td>
          <td> $t.post_date</td>
          <td>
          <button type="submit" class="btn btn-primary" name="like">Like</button>
       #end
       </tbody>
       </table>
       </div>


         </body>
       </html>