<!DOCTYPE html>
       <html>
         <head>
           <title>acebook</title>
           <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'
         </head>

         <style >
         body {
         	background: linear-gradient(45deg, #49a09d, #5f2c82);
             width: 50vw;
             height: 50vh;
             display: flex;
             color: white;

         }

         .custom-container {
             width: 500px;
         }

         .request-container {
            width: 800px;
         }
         .button {
           border: white;
           border: 4px;
           background color: #49a09d;
           color: white;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
           margin: 4px 2px;
           cursor: pointer;
         }
         </style>




         <body>
         <div class="container custom-container">
             <div class="col">
               <h1 class="text-center">welcome to acebook</h1>
             </div>

           <div>
               <form action="/posts/new" method ="POST">

                 <label> title:</label>
                 <textarea rows="1" cols="70" type="text"  name="title" placeholder ="title"></textarea><br>
                 <label>content:</label>
                <textarea rows="7" cols="70" type="text" name="content" placeholder="what's on your mind?"></textarea><br>
                <input type="submit" class="button" value="Post!">
               </form>
               </div>

           <div class="col">
                 <table class="table">

                   <thead class="thead-dark">
                     <tr>
                       <th scope="col">title</th>
                       <th scope="col">content</th>
                       <th scope="col">posted on</th>
                       <th scope="col">like this post!</th>
                   </tr>
                   </thead>

       <tbody>
           #foreach ( $t in $posts )
          <tr>
          <td> $t.title </td>
          <td> $t.content </td>
          <td> $t.post_date</td>
          <td>
          <button type="submit" class="button" name="like">like</button>
       #end
       </tbody>
       </table>
       </div>


         </body>
       </html>