<!DOCTYPE html>
<html>
  <head>
    <title>Acebook-Sign-up!</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>

           <style >
           body {
                    	background: linear-gradient(45deg, #49a09d, #5f2c82);
                        width: 50vw;
                        height: 50vh;
                        display: flex;

                    }

                    .custom-container {
                        width: 500px;
                    }

                    .request-container {
                       width: 800px;
                    }
           </style>
  <body>
    <h1>Welcome to acebook</h1>

    <div>
    <br>
    <br>
    <br>
        <form action="/usersignup" method ="POST">

          <label> First name:</label><br>
          <input type="text"  name="first_name" placeholder ="First name"><br>
          <label>Last name:</label><br>
         <input type="text"  name="last_name" placeholder="Last name"><br><br>
         <label>Email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>Password:</label><br>
         <input type="password"  name="password" placeholder="password"><br><br>
         <input type="submit" value="Sign up!">
        </form>
        </div>

  </body>
</html>