<!DOCTYPE html>
<html>
  <head>
    <title>acebook-signup</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>

           <style >
           body {
                    	background: linear-gradient(45deg, #49a09d, #5f2c82);
                        width: 50vw;
                        height: 50vh;
                        display: flex;
                        color: white;

                    }

                    .custom-container {
                        width: 500px;
                        color: white;
                    }

                    .request-container {
                       width: 800px;
                       color: white;
                    }
           </style>
  <body>
    <h1>welcome to acebook</h1>

    <div>
    <br>
    <br>
    <br>
        <form action="/usersignup" method ="POST">

          <label> first name:</label><br>
          <input type="text"  name="first_name" placeholder ="first name"><br>
          <label>last name:</label><br>
         <input type="text"  name="last_name" placeholder="last name"><br><br>
         <label>Email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>Password:</label><br>
         <input type="password"  name="password" placeholder="password"><br><br>
         <input type="submit" value="Sign up!">
        </form>
        </div>

  </body>
</html>