<!DOCTYPE html>
<html>
  <head>
    <title>acebook-login</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>
           <style >
           body {
                    	background: linear-gradient(45deg, #49a09d, #5f2c82);
                        width: 50vw;
                        height: 50vh;
                        display: flex;
                        color: white;

                    }

                    .custom-container {
                        width: 500px;
                    }

                    .request-container {
                       width: 800px;
                    }
           </style>

  <body>
    <h1>Welcome to acebook</h1>
<br>
<br>
    <div>
        <form action="/userlogin" method ="POST">
<br>
<br>
         <label>email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>password:</label><br>
         <input type="password"  name="password" placeholder="password"><br><br>
         <input type="submit" value="Log in!">
        </form>
        </div>

  </body>
</html>