<!DOCTYPE html>
<html>
  <head>
    <title>acebook-login</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>
           <style >
           body {
                    	background: linear-gradient(45deg, #49a09d, #5f2c82);
                        width: 50vw;
                        height: 50vh;
                        display: flex;
                        color: white;

                    }

                    .custom-container {
                        width: 500px;
                    }

                    .request-container {
                       width: 800px;
                    }
                    .button {
                               border: white;
                               border: 4px;
                               background color: #49a09d;
                               color: white;
                               text-align: center;
                               text-decoration: none;
                               display: inline-block;
                               font-size: 16px;
                               margin: 4px 2px;
                               cursor: pointer;
                             }
           </style>

  <body>
    <h1>welcome to acebook</h1>
<br>
<br>
    <div>
        <form action="/userlogin" method ="POST">
<br>
<br>
         <label>email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>password:</label><br>
         <input type="password"  name="password" placeholder="password"><br><br>
         <input type="submit" class="button" value="log in!">
        </form>
        </div>

  </body>
</html>